<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
   
<head  th:replace="head">
</head>
<body>
<div class="container">
    <header th:replace="headerAdmin">
    </header>  
    <form class="form-horizontal"  method="post">
    <div class="row form-group">
    <div class="col-sm-3">
    Sélectionner une date de début:
    </div>
    <div class="col-sm-2">
        <input type="date" th:date="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"
         name="dateDebut"/>
    </div>
    </div>
    <div class="row form-group">
    <div class="col-sm-3">
    Sélectionner une date de fin:
    </div>
    <div class="col-sm-2">
        <input type="date" th:date="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"
        name="dateFin"/>
    </div>
    </div>
    <span th:if="${messages}!=NULL">
    <div class="row form-group">
        <div class="col-sm-5">
             <div id="erreur" class="alert alert-danger ">
                <span th:each="message : ${messages}" 
                th:text="${message}">
                </span>
             </div>
        </div>
    </div>
    </span>
    <div class="row form-group">
    <div class="col-sm-5">
    <input type="submit" />
    </div>
    </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</div>
</body>
</html>
    
        
        





  