<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
   
<head  th:replace="head">
</head>
<body>
<div class="container">
  <header th:replace="headerAdmin">
  </header>  
<form class="form-horizontal" th:object="${user}" method="post">
<div class="row form-group">
    <div class="col-sm-3">
    Sélectionner un formateur
    </div>
    <div class="col-sm-2">
        <select id="prof" name="prof" >
        <option th:each="user : ${users}" 
        th:value="${user.userId}" 
        th:text="${user.userName}">
        </option>
        </select>  
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-3">
    Sélectionner des formations:
    </div>
    <div class="col-sm-2">
        <select id="formations" name="formations" multiple="multiple">
        
        <option th:each="formation : ${formations}"
        th:value="${formation.id}" 
        th:text="${formation.titre}">
        </option>
        </select>  
    </div>
</div>
<div class="row form-group">
    <div class="col-xs-6">
    <div th:if="${message}!=NULL">
    <div id="erreur" class="alert alert-danger ">
        <span  th:text="${message}"></span>
    </div>
    </div>
    </div>
</div>
 <div class="row form-group">
    <div class="col-sm-6">
    <input type="submit" />
    </div>
 </div>
 
 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</div>
</body>
</html>

