<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
   
<head  th:replace="head">
</head>
<body>
<div class="container">
  <header th:replace="header">
  </header>  
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
            <form  th:object="${user}" method="post">
                <div class="row form-group">
                   <div  class="col-xs-6">
                    <label for="nomUser"> Nom d'utilisateur:</label>
                 
                    <input type="text" class="form-control" th:field="*{userName}" />
                   
                    </div>
                </div>
                 <div class="row form-group">
                    <div class="col-xs-6">
                        <div th:if="${#fields.hasErrors('userName')}">
                            <div id="erreur_Name" class="alert alert-danger ">
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                            </span>
                            </div>
                        </div> 
                    </div>
                 </div>
                 <div class="row form-group">
                   <div  class="col-xs-6">
                    <label for="password"> Password:</label>
                 
                    <input type="text" class="form-control" th:field="*{password}" />
                   
                    </div>
                </div>
                 <div class="row form-group">
                    <div class="col-xs-6">
                        <div th:if="${#fields.hasErrors('password')}">
                            <div id="erreur_Name" class="alert alert-danger ">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </span>
                            </div>
                        </div> 
                    </div>
                 </div>
                 <div class="row form-group">
                   <div  class="col-xs-6">
                    <label for="email"> Email:</label>
                    <div class="input-group">
                    <input type="text" class="form-control" th:field="*{email}" />
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        Ajouter
                    </button>
                    </span>
                    </div>
                </div>
                </div>
             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
           
            </form>
            
        </div>
    </div>
</div>
</body>
</html>