<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="head">
</head>
<body>
    <div class="container">
        <header th:replace="header">
               
        </header>
        <div class="row">
            <div class="col-lg-12">
                <h3>Nos Formations: </h3>
            </div>
        </div>
        <dl  th:each="specialite : ${specialites}">
            <dt th:text="${specialite.nomSpecialite}"></dt>  
            <ul th:each="formation : ${formations}">
                <span th:if="${formation.specialite==specialite}" >
                    <li th:text="${formation.titre}" ></li>  
                </span>
            </ul>
        </dl>  
    </div>
 
</body>
</html>
               
   
